{% extends "body.html" %}

{% block actions %}
<a href="/pipeline/execute/{{uuid}}" class="list-group-item list-group-item-action">Execute</a>
<a href="/pipeline/configure/{{uuid}}" class="list-group-item list-group-item-action">Configure</a>

<a href="" class="list-group-item list-group-item-action list-group-item-danger" data-bs-toggle="modal"
    data-bs-target="#exampleModal">Drop pipeline</a>
<a href="/" class="list-group-item list-group-item-action">Go back</a>
{% endblock actions %}

{% block content %}
<div class="container">
    <h3 class="h3 mb-3">Here you can find the executions for pipeline {{name}}.</h3>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Be careful</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to drop the pipeline "{{name}}"? This change cannot be done.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/pipeline/drop/{{uuid}}" method="post">
                    <button type="submit" class="btn btn-danger">Drop</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}