{% extends "body.html" %}

{% block actions %}
<a href="/pipeline/view/{{pipeline.uuid}}" class="list-group-item list-group-item-action">Go back</a>
{% endblock actions %}

{% block content %}
<div class="container">
    <h3 class="h3 mb-3">Hello! Enter the new pipeline data here.</h3>
    <form action="/pipeline/update" method="post">

        <div class="mb-3">
            <label for="id-uuid" class="form-label">Uuid</label>
            <input type="text" class="form-control" id="id-uuid" aria-describedby="uuid" name="uuid"
                value="{{pipeline.uuid}}">
        </div>

        <div class="mb-3">
            <label for="id-name" class="form-label">Pipeline name</label>
            <input type="text" class="form-control" id="id-name" aria-describedby="name" name="name"
                value="{{pipeline.name}}">
        </div>

        <div class="mb-3">
            <label for="id-description" class="form-label">Pipeline description</label>
            <input type="text" class="form-control" id="id-description" aria-describedby="description"
                name="description" value="{{pipeline.description}}">
        </div>

        <div class="mb-3">
            <label for="id-pipeline-script" class="form-label">Pipeline Script</label>
            <textarea class="form-control" id="id-pipeline-script" rows="4" name="script">{{pipeline.script}}</textarea>
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-secondary mb-3" onclick="javascript:check_syntax()">Check Pipeline
                Syntax</button>
            <button type="submit" class="btn btn-primary mb-3">Update pipeline</button>
        </div>
    </form>

</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true"
        id="liveToast">
        <div class="d-flex">
            <div class="toast-body">
                Script is ok.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    function check_syntax() {
        $.ajax({
            method: "POST",
            url: "/pipeline/check_syntax",
            contentType: 'application/json',
            data: JSON.stringify({
                'script': $("#id-pipeline-script").val(),
            }),
            success: function (result) {
                const toastLiveExample = document.getElementById('liveToast');
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                toastBootstrap.show();
            },
            error: function (result) {
                alert("not good");
            }
        });
    }

</script>
{% endblock %}